
@model WebGestionArticulo_Almacen.Models.TableAlmacenes

@{
    ViewBag.Title = "Agregar Almacen";
}




    <form action="/GestionAlmacen/AgregarAlmacen" method="post">
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Agregar Almacen</h2></div>
        <div class="panel-body">
            <div class="card border-dark mb-3">

                <div class="card-body text-dark">

                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Nombre</label> <br />
                                <input type="text" id="nombre" name="nombre" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Tamaño</label> <br />
                                <input type="text" id="capacidad" name="capacidad" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <label>Comentario</label> <br />
                                <textarea rows="4" cols="50" name="comentario" id="comentario"></textarea>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Estado</label> <br />
                                <select id="status" name="status" size="1">
                                    <OPTION VALUE="Activo">Activo</OPTION>
                                    <OPTION VALUE="Inactivo">Inactivo</OPTION>
                                </select>

                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="form-group">         
                @Html.ActionLink("Regresar", "Index", "", new { @class = "btn btn-info " })
                <input id="btnGuard" type="submit" value="Guardar" class="btn btn-success pull-right" />
            
        </div>
</form>
   




