@model WebGestionArticulo_Almacen.Models.TableAlmacenes
@{
    ViewBag.Title = "modificar Almacen";
}



<form action="/GestionAlmacen/modificarAlmacen" method="post">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>modificar Almacen</h2></div>
        <div class="panel-body">

            <div class="card border-dark mb-3">

                <div class="card-body text-dark">

                    <div class="form-horizontal">

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>ID Almacen</label> <br />

                                @Html.EditorFor(model => model.idalmacen, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Nombre</label> <br />
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Tamaño</label> <br />
                                @Html.EditorFor(model => model.capacidad, new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Comentario</label> <br />
                                <textarea cols="20" htmlattributes="{ class = form-control }" id="comentario" name="comentario" value="model.comentario" rows="2" style="margin: 0px; width: 305px; height: 62px;"></textarea>
                                @*@Html.TextAreaFor(model => model.comentario, new { htmlAttributes = new { @class = "form-control" } })*@
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label>Estado</label> <br />
                                <select id="status" name="status" size="1">
                                    <OPTION VALUE="Activo">Activo</OPTION>
                                    <OPTION VALUE="Inactivo">Inactivo</OPTION>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">

        @Html.ActionLink("Regresar", "Index", "", new { @class = "btn btn-info " })
        <input id="btnGuard" type="submit" value="Guardar" class="btn btn-success pull-right" />

    </div>
</form>



